<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
<appSettings>
  <!--Default value : c:\YoutubeDownloads -->
  <add key="SavePath" value="c:\YoutubeDownloads"/>
  <!-- Valid Resolutions : 360 | 480 | 720 | 1080  Default: 720-->
  <add key ="VideoResolution" value="720"/>
   <!--Default value : list.txt -->
  <add key="YoutubeListFileName" value="list.txt"/>
</appSettings>
</configuration>
